# https://platform.openai.com/settings/organization/general or https://platform.openai.com/api-keys
OPENAI_API_KEY="sk-xxx"

# Voice settings
# alloy, echo, fable, onyx, nova, and shimmer - https://platform.openai.com/docs/guides/text-to-speech/voice-options
SPEECH_VOICE="alloy"

# https://platform.openai.com/docs/models or https://platform.openai.com/docs/api-reference/models
CHAT_MODEL="gpt-4o"

# https://platform.openai.com/docs/guides/image-generation?image-generation-model=gpt-image-1 or dall-e-3
IMAGE_MODEL="gpt-image-1"

# 1024x1024 (square), 1536x1024 (portrait), 1024x1536 (landscape), auto (default)
IMAGE_SIZE="1024x1024"

# low, medium, high, auto (default)
IMAGE_QUALITY="high"

# transparent, opaque
IMAGE_BACKGROUND="opaque"
