OPENAI_API_KEY="sk-xxx"

# Voice settings
# alloy, echo, fable, onyx, nova, and shimmer - https://platform.openai.com/docs/guides/text-to-speech/voice-options
SPEECH_VOICE="alloy"

CHAT_MODEL="gpt-4o"
